= form_tag "/members/#{current_user.id}/subscriptions", :method => "post" do
  = hidden_field_tag "subscription[target_id]", target.id
  = hidden_field_tag "subscription[target_type]", target.class.name
  = submit_tag "Subscribe"
