@import url(http://fonts.googleapis.com/css?family=Rokkitt);
@include "bootstrap_and_overrides.css.less";
body {
    background: black url("/assets/linen.jpg");
    padding: 0;
    margin: 0;
}
body * {
    font-family: 'Rokkitt', serif;
}
footer {
    background: black;
    color: antiquewhite;
    padding: 10px;
    font-size: 16px;
}
#page_wrapper {
    margin: 0 auto;
    width: 90%;
    min-width: 600px;

    -webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);

    .btn-group, #user_panel {
        float: right;
        margin: 5px;
    }
    #user_panel a {
        text-decoration: none;
        color: white !important;
    }
    nav {
        background: url("/assets/tab_bkg.png") top repeat-x;
        border-bottom: 1px solid black;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        li {
            display: inline-block;
            padding: 10px;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    #page_wrapper {
        width: 100%;
    }
}
#content_wrapper {
    min-height: 800px;
    background-color: #E7E9EB;
}

.form-wrapper {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

#error_explanation {
    padding: 10px;
    background: #FFD682;
    color: #6D000E;
    border: 1px solid red;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pagination > * {
    display: block;
    float: left;
    border-top: 1px solid #D2DFEB !important;
    line-height: 34px;
    padding: 0 14px;
    border-left: 0;
    background: #D2DEEB;
}
.que-super-wrapper {
    padding: 20px;
}
.que-wrapper {
    border-bottom: 1px solid #555555;
    margin-bottom: 10px;
    min-height: 100px;
}
.ans-tbar {
    background-color: #8DB8DD;
    padding: 15px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.que-list {
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type:none;
    padding: 0;
    margin: 0;
}
.que-list a.que-link {
    font-size: 18px;
}
.que-list-item {
    border-top: 1px solid #8DB8DD;
    padding: 10px;
    min-height: 80px;
}
.que-link h1 {
    
}
.creator-box {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    background: #B8C6D3;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    img {
        float: right;
        margin: 5px;
    }
    .creator-intro {
        background: white;
    }
    .member-name {
        font-size: 19px;
        a {
            display: block;
            padding-top: 10px;
            color: white;
            text-align: right;
        }
    }
}
.ans-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.ans-list-item {
    border-bottom: 1px solid #8DB8DD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ans-body {
    background-color: #F3F9FF;
    border-radius: 5px;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    min-height: 60px;
}

.opinion-wrapper {
    float: left;
    width: 100px;
    .btn span{
        margin-left: 5px;
    }
    .btn.chosen {
        background: #fefcea;
        background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36));
        background: -webkit-linear-gradient(top, #fefcea 0%,#f1da36 100%);
        background: -o-linear-gradient(top, #fefcea 0%,#f1da36 100%);
        background: -ms-linear-gradient(top, #fefcea 0%,#f1da36 100%);
        background: linear-gradient(to bottom, #fefcea 0%,#f1da36 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 );
    }
}

.opinion-target-wrapper {
    margin-left: 110px;
}
