@import url(http://fonts.googleapis.com/css?family=Rokkitt);
@include "bootstrap_and_overrides.css.less";
body {
    background: black url("/assets/linen.jpg");
    padding: 0;
    margin: 0;
}
body * {
    font-family: 'Rokkitt', serif;
}
footer {
    background: black;
    color: antiquewhite;
    padding: 10px;
    font-size: 16px;
}
.btn i {
    margin-right: 10px;
}
.lshift {
    float: left;
    * {
        float: left;
    }
}
.permalink {
    color: #101E2E;
    margin-left: 10px;
    margin-right: 10px;
}
#page_wrapper {
    margin: 0 auto;
    // width: 90%;
    // min-width: 600px;

    -webkit-box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);

    .btn-group, #user_panel {
        float: right;
        margin: 5px;
    }
    #user_panel a {
        text-decoration: none;
        color: white !important;
    }
    nav {
        background: url("/assets/tab_bkg.png") top repeat-x;
        border-bottom: 1px solid black;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        li {
            display: inline-block;
            padding: 10px;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    #page_wrapper {
        width: 100%;
    }
}
#content_wrapper {
    min-height: 800px;
    background-color: #E7E9EB;
}

.form-wrapper {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

#error_explanation {
    padding: 10px;
    background: #FFD682;
    color: #6D000E;
    border: 1px solid red;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pagination > * {
    display: block;
    float: left;
    border-top: 1px solid #D2DFEB !important;
    line-height: 34px;
    padding: 0 14px;
    border-left: 0;
    background: #D2DEEB;
}
.que-super-wrapper {
    padding: 20px;
}
.que-title {
    font-weight: 400;
    a {
        font-size: 20px;
    }
}
.que-wrapper {
    margin-bottom: 10px;
    min-height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.que-ans-info {
    margin-top: 10px;
    margin-bottom: 10px;
}
.que-tags {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    strong {
        font-size: 20px;
        margin-right: 20px;
    }
    li {
        display: inline;
        margin-right: 10px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        a {
            color: white;
            font-size: 15px;
        }
    }
}
.que-response-meta em{
    font-weight: 800;
}
.ans-tbar {
    background-color: #8DB8DD;
    padding: 15px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.que-list {
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type:none;
    padding: 0;
    margin: 0;
}
.que-list a.que-link {
    font-size: 18px;
}
.que-list-item {
    border-top: 1px solid #8DB8DD;
    padding: 10px;
    min-height: 100px;
}
.que-link h1 {
    
}
.creator-box {
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
    background: #B8C6D3;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    img {
        float: right;
        margin: 5px;
    }
    .creator-intro {
        background: white;
    }
    .member-name {
        font-size: 20px;
        display: block;
        .name-inner {
            padding-bottom: 10px;
            margin-right: 20px;
            text-transform: capitalize;
        }
        span {
            padding: 5px;
            margin: 5px;
            border-radius: 4px;
            font-size: 15px;
            padding-left: 10px;
            padding-right: 10px;
        }
        a {
            display: block;
            padding-top: 10px;
            color: white;
            text-align: right;
        }
    }
}
.ans-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.ans-list-item {
    border-bottom: 1px solid #8DB8DD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ans-body {
    background-color: #F3F9FF;
    border-radius: 5px;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
    .ans-body-inner {
        min-height: 75px;
    }
    .operations-wrapper {
        border-radius: 5px;
    }
}

.opinion-wrapper {
    width: 100px;
    float: left;
    .upvote-wrapper, .downvote-wrapper {
        margin: 5px;
        margin-right: 10px;
        border-radius: 4px;
        padding: 5px;
        text-align: center;
        background-color: #3A87AD;
        span { padding: 5px; }
        form {
            display: inline;
            margin: 0;
            padding: 0;
        }
        a {
            color: white;
        }
    }
    .btn span{
        margin-left: 5px;
    }
    .btn.chosen {
        background: #fefcea;
        background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36));
        background: -webkit-linear-gradient(top, #fefcea 0%,#f1da36 100%);
        background: -o-linear-gradient(top, #fefcea 0%,#f1da36 100%);
        background: -ms-linear-gradient(top, #fefcea 0%,#f1da36 100%);
        background: linear-gradient(to bottom, #fefcea 0%,#f1da36 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 );
    }
}

.opinion-target-wrapper {
    margin-left: 110px;
}
.operations-wrapper {
    background-color: #D4DEE8;
    min-height: 30px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    table {
        float: right;
        padding:0;
        td {
            padding: 0;
        }
    }
}

#flash_wrapper {
    .flash {
        min-height: 25px;
        padding: 10px;
        font-size: 20px;
    }
    #flash_error, #flash_alert {
        background: red; color: yellow;
        border-bottom: 2px solid yellow;
    }
    #flash_info , #flash_notice{
        background: blue; color: white;
        border-bottom: 2px solid white;
    }
    #flash_success {
        background: green; color: yellow;
        border-bottom: 2px solid yellow;
    }
    .flash-notif-list {
        background: #9AC9F2;
        color: #265E8F;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            border-bottom: 1px solid white;
            padding: 10px;
        }
    }
    #flash_aux_errors {
        padding: 0;
    }
}
.search-header {
    background: #e2e2e2;
    background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe));
    background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
    background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);

    font-size: 25px;
    padding: 10px;
    ul {
        list-style-type: none;
        display: inline;
        li {
            display: inline;
            font-size: 15px;
        }
    }
    
}
