@import url(http://fonts.googleapis.com/css?family=Rokkitt);
@include "bootstrap_and_overrides.css.less";

#intro {
    background: url("/assets/grain.jpg");
    color: white;
    #intro_inner {
        background: url("/assets/wrap-glow.jpg") top center no-repeat;
    }
    h1 {
        display: block;
        padding: 35px 10px 5px 10px;
        text-align: center;
        font-size: 45px;
        font-weight: 100;
    }
    h2 {
        display: block;
        padding: 5px 10px 20px 10px;
        text-align: center;
        font-size: 20px;
    }
    p {
        padding: 10px;
        text-align: center;
        font-size: 15px;
        color: antiquewhite;
        background: #414242 url("/assets/hdr_grad.png") repeat-x top;
        margin: 0;
    }
}

@tbar_height: 55px;
#main_tbar {
    height: @tbar_height;
    background-color: #555555;
    .btn {
        margin-top: 15px;
        margin-bottom: 10px;
        margin-right: 10px;
    }
}

#aux_btns {
    width: 30%;
    float: left;
    height: @tbar_height;
    position: relative;
}
#search_wrapper {
    position: relative;
    width: 70%;
    float: left;
    height: 55px;
    #search_left, #search_box, #search_right {
        height: 55px;
    }
    #search_info {
        float: left;
        width: 200px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        font-size: 18px;
        padding-left: 10px;
        padding-top: 20px;
    }
    #search_box {
        position: absolute;
        display: block;
        left: 200px;
        right: 100px;
        top: 0;
        bottom: 0;
    }
    #search_btn {
        position: absolute;
        top: 0; bottom: 0; right: 0px;
        width: 100px;
        /*.btn {
            position: absolute;
            left: 10px;
            right: 10px;
            bottom: 10px;
            top: 15px;
        }*/
    }
    #search_left {
        background: url("/assets/search_left.png") no-repeat top;
        width: 44px;
        position: absolute;
        top: 0; bottom: 0; left: 0;
    }
    #search_inner {
        background: url("/assets/search_mid.png") repeat-x top;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 44px; right: 26px;
        input {
            background: transparent;
            border: none;
            position: absolute;
            left: 0;
            right: 0;
            top: 15px;
            bottom: 0;
            width: 100%;
            box-shadow: none !important;
            color: white;
        }
    }
    #search_right {
        background: url("/assets/search_right.png") no-repeat top;
        width: 26px;
        float: right;
        position: absolute;
        top: 0; bottom: 0; right: 0;
    }
}